{% extends 'base.html' %}

{% block title %}{% endblock title %}
{% block FungiNote1 %}{{ Fungi_CommonName }}{% endblock FungiNote1 %}
{% block FungiNote2 %}{{ Fungi_LatinName }}{% endblock FungiNote2 %}
{% block FungiNote3 %}{{ Fungi_Id }}{% endblock FungiNote3 %}
{% block content %}
    <div class='detail'>
        <form method="post">
            <div class="sub-content">
                {% csrf_token %}
                <h3>Are you sure you want to delete this note for: {{ funginotes.Fungi }}</h3>
            </div>
            <p class="pt-2">
                <button type="submit" class="btn btn-danger">Delete Fungi Note</button>
                <a href="{% url 'FungiDetail-Page' funginotes.slug %}" role="button" class="btn btn-secondary">Cancel</a>
            </p>
        </form>
    </div>
{% endblock content %}