{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}{% endblock title %}
{% block FungiNote1 %}{{ Fungi_CommonName }}{% endblock FungiNote1 %}
{% block FungiNote2 %}{{ Fungi_LatinName }}{% endblock FungiNote2 %}
{% block FungiNote3 %}{{ Fungi_Id }}{% endblock FungiNote3 %}

{% block content %}
    <div class='detail'>
    {%  if  Fungi_CommonName != "Common Name" %}
        <h2 style="background-color: #ffff99;">New Fungi Note for: {{ Fungi_CommonName }} <em>{{ Fungi_LatinName }}</em></h2>
    {% else %}
        <h2 style="background-color: #ffff99;">New Fungi Note for: <em>{{ Fungi_LatinName }}</em></h2>
    {% endif %}
        <form action="" method="post">
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}
            <div class="sub-content">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <p class="pt-2">
                <button type="submit" class="btn btn-success">Save Fungi Note</button>
                <a href="{% url 'FungiDetail-Page'  Fungi_Id  %}" role="button" class="btn btn-secondary">Cancel</a>
            </p>
        </form>
    </div>
{% endblock content %}