<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

    <style>

        .img a {
            vertical-align: baseline;
        }

        .img b {
            vertical-align: text-top;
        }

        .img c {
            vertical-align: text-bottom;
        }

        .img d {
            vertical-align: sub;
        }

        .img e {
            vertical-align: super;
        }

    </style>


    <h1>Welcome to Fungi Identifier</h1><h3> (fungi-id ver 0.22)</h3>

    <h2><p><img class="a" src="/media/images/Fly_Agaric.jpg" fungi-img alt="/default.jpg"/>Fly Agarics in the New Forest, Hampshire</p></h2>

    <h2>An app to help indentify various species of fungi, mostly with a presence in the UK, by visual descriptions and dimensional attributes with links to numerous datasources, most with first class pictures</h2></p>



{% endblock content %}



			
