{% extends "base.html" %}
{% block DetailBlock %}
    <p style="font-size:50px">Links, sources & bibliography</p>
    <p style="font-size:35px"><em>General</em></p>
    <ul>
        <li style="font-size:25px"><a href=http://mapapps2.bgs.ac.uk/ukso/home.html target="_blank">UKSO (UK Soil Observatory)</a>
        </li>
        <li style="font-size:25px"><a href=https://explorer.geowessex.com/?layers=48,2425&x=375650.85&y=97324.02&epsg=27700&
                                      target="_blank">Dorset Rights of Way </a></li>
        <li style="font-size:25px"><a href=https://learnyourland.com/this-edible-mushroom-grows-in-human-bodies/ target="_blank">Edible
            mushroom grows in human bodies </a></li>
    </ul>


    <p style="font-size:35px"><em>Notes</em></p>
    <p style="font-size:30px">Names - Common & Latin</p>
    <p style="font-size:25px">The majority of the common names, latin names and latin synonyms are taken from these websites:</p>
    <ul>
        <li style="font-size:25px"><a href=https://species.nbnatlas.org/ target="_blank">National Biodiversity Network Trust (NBN)</a></li>
        <li style="font-size:25px"><a href=https://www.gbif.org/ target="_blank">Global Biodiversity Information Facility (GBIF)</a></li>
        <li style="font-size:25px"><a href=https://www.britmycolsoc.org.uk/field_mycology/english-names target="_blank">The British Mycological Society (BMS) </a></li>
    </ul>

    <hr>
    <hr>

    <p style="font-size:35px"><em>Books</em></p>

    <ul>
        <li style="font-size:25px"><a href=https://www.pemberleybooks.com/product/mushrooms-and-toadstools-of-britain-and-europe.-vol.-4-agarics-part-3/44539/ target="_blank">Mushrooms & Toadstools of Britain & Europe, Geoffrey Kibby, vols 1-4</a></li>


        <li style="font-size:25px"><a href=https://www.bookfinder.com/author/tanja-bohning/ target="_blank">Mushrooms & Toadstools of Britain & Europe, Tanja Bohning</a></li>
        <li style="font-size:25px"><a
                href=https://harpercollins.co.uk/products/collins-complete-british-mushrooms-and-toadstools-the-essential-photograph-guide-to-britains-fungi-paul-sterrybarry-hughes?variant=32553354362958/ target="_blank">Collins Complete
            Guide to British Mushrooms and Toadstools. Paul Sterry & Barry Hughes</a></li>
        <li style="font-size:25px"><a href=https://harpercollins.co.uk/products/collins-mushroom-miscellany-patrick-harding?variant=32556679561294
                                      target="_blank">Mushroom Miscellany, Patrick Harding</a></li>

        <li style="font-size:25px"><a href=https://www.greenbooks.co.uk/science-natural-history/edible-mushrooms-content.html
                                      target="_blank">Edible Mushrooms, A forager's guide to the wild fungi of Britain, Ireland and
            Europe. Geoff Dann</a></li>

        <li style="font-size:25px"><a href=https://www.merlinsheldrake.com/entangled-life/ target="_blank">Entangled Life, Merlin
            Sheldrake</a></li>

        <li style="font-size:25px">
            <a href=https://harpercollins.co.uk/products/collins-fungi-guide-the-most-complete-field-guide-to-the-mushrooms-and-toadstools-of-britain-ireland-stefan-buczackichris-shieldsdenys-ovenden?variant=32683131306062/ target="_blank">Collins
                Fungi Guide, Stefan Buczacki, Chris Shields & Denys Ovenden</a></li>

        <li style="font-size:25px"><a href=https://www.nhbs.com/fungi-of-temperate-europe-2-volume-set-book target="_blank">Fungi of
            Temperate Europe, Thomas Læssøe and Jens H Petersen</a></li>
    </ul>
    <hr>
    <hr>
    <p style="font-size:35px"><em>Websites - main, full list by clicking button below</em></p>
    <ul>

       <li style="font-size:25px"><a href=https://basidiochecklist.science.kew.org/BritishFungi/Index.htm target="_blank">Fungal Records Database of Britain and Ireland, The British Mycological Society</a></li>
        <li style="font-size:25px"><a href=https://mycologyst.art/glossary-of-mycology-terms/ target="_blank">Mycology Terms</a></li>
        <li style="font-size:25px"><a href=https://species.nbnatlas.org/ target="_blank">National Biodiversity Network Trust (NBN)</a></li>
        <li style="font-size:25px"><a href=https://www.gbif.org/ target="_blank">Global Biodiversity Information Facility (GBIF) </a></li>
        <li style="font-size:25px"><a href=https://www.mushrooms.su/ target="_blank">Mushrooms from the area of St. Petersburg, Russia
            (excellent photos)</a></li>
        <li style="font-size:25px"><a href=https://boletales.com/ target="_blank">boletales.com</a></li>
        <li style="font-size:25px"><a href=https://www.first-nature.com/ target="_blank">First Nature - excellent website with lots of
            id information</a></li>
        <li style="font-size:25px"><a href=https://www.mushroomexpert.com/ target="_blank">Mushroom Expert - N.American site but very
            useful</a></li>
        <li style="font-size:25px"><a href=http://www.amanitaceae.org/ target="_blank">amanitaceae.org - site dedicated to Amanitas</a>
        </li>
        <li style="font-size:25px"><a href=https://en.wikipedia.org/ target="_blank">Wikipedia</a></li>
        <li style="font-size:25px"><a href=https://www.jungledragon.com/ target="_blank">JungleDragon - good site for photos</a></li>
        <li style="font-size:25px"><a href=https://hifasdaterra.co.uk/learn/ target="_blank">Medicinal Mushrooms </a></li>
        <li style="font-size:25px"><a href=https://www.britmycolsoc.org.uk/application/files/7415/2455/1969/British_Agarics_Boletes.pdftarget="_blank">British
            Mycological Society - Keys </a></li>
        <li style="font-size:25px"><a href=https://basidiochecklist.science.kew.org/BritishFungi/GBCHKLST/gbchklst.asp?RecordID=%22%22
                                      target="_blank">BMS - The checklist of fungi of the British Isles - name search </a></li>
    </ul>

    <p style="font-size:35px"><em>Useful documents</em></p>
    <ul>
        <li style="font-size:25px"><a href="/media/Hymenogaster_id-assist.pdf" target="_blank">Identification key to the Central
            European species of the genus
            Hymenogaster</a></li>
    </ul>


    <p style="font-size:35px"><em>Resources</em></p>
    <ul>
        <li style="font-size:25px"><a href=https://icons8.com target="_blank">Skull & Cross bones and mushroom icon</a></li>

    </ul>
    <a href="{% url 'show_sources' %}" class="btn btn-success">Full list of all sources</a>

{% endblock DetailBlock %}
