{% extends "base.html" %}
{% load crispy_forms_filters %}
{% crispy EditFilter EditFilter.helper %}
{% block content %}

    <div class="content-section">
        {% if user.username != 'GuestUser' %}
            <legend class="border-bottom mb-4"><h2>Search fields </h2></legend>
        {% else %}
            <legend class="border-bottom mb-4">
                <h2>Search fields<h4><em> Default values for GuestUser</em></h4></h2>
            </legend>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchCommonName|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchLatinName|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchOtherCommonNames|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchLatinSynonyms|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchGroup|as_crispy_field }}
                    </div>
                </div>
                <h4><p>Season</p></h4>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchMonthFound|as_crispy_field }}
                    </div>
                </div>
                <h4><p>Habitat</p></h4>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchHabitatAssociations|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchHabitatSubstrate|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchHabitatEnvironment|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchHabitatPh|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchHabitatSoil|as_crispy_field }}
                    </div>
                </div>
                <h4><p>Fruiting Body (cap etc)</p></h4>
                <div class="form-row">
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchCapTexture|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchCapBruiseColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchCapCutColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchCapWidth|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchCapColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchCapShape|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchCapRim|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchFleshCapColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchFleshCapBruiseColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchFleshCapCutColour|as_crispy_field }}
                    </div>

                </div>
                <h4><p>Stipe (stem)</p></h4>
                <div class="form-row">

                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchStipeColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchStipeBruiseColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchStipeCutColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchStipeLength|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchStipeThickness|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchStipeShape|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchStipeReticulationPresent|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchStipeReticulation|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchStipeBase|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchStipeTexture|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchStipeRing|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchFleshStipeColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchFleshStipeBruiseColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchFleshStipeCutColour|as_crispy_field }}
                    </div>
                </div>
                <h4><p>Pores and Tubes</p></h4>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchPoresPresent|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchPoreColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchPoreShape|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchPoreBruiseColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchTubeColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchTubeShape|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchTubeBruiseColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchPoreMilk|as_crispy_field }}
                    </div>
                </div>
                <h4><p>Gills</p></h4>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchGillsPresent|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchGillsColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchGillsBruiseColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchGillsCutColour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchGillsAttachment|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchGillsArrangement|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchGillsMilk|as_crispy_field }}
                    </div>
                </div>
                <h4><p>Spores</p></h4>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchSporeColour|as_crispy_field }}
                    </div>
                </div>
                <h4><p>Classification</p></h4>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchKingdom|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchPhyum|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchSubPhyum|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchClass|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchSubClass|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchOrder|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchFamily|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchGenus|as_crispy_field }}
                    </div>
                </div>

                <h4><p>Cuisine</p></h4>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchPoisonType|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchCulinaryRating|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3  mb-0">
                        {{ form.SearchOdour|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchTaste|as_crispy_field }}
                    </div>
                </div>
                <h4><p>Status</p></h4>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchStatusStatusData|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.SearchStatusWhereFound|as_crispy_field }}
                    </div>
                </div>
            </fieldset>

            {% if user.username != 'GuestUser' %}
                <div class="form-group">
                    <button class="btn btn-warning" type="submit"><span style="font-size:30px;">Save settings</span></button>
                </div>
            {% else %}
                <div class="form-group">
                    <button class="btn btn-warning" disabled type="button"><span style="font-size:30px;">Save settings</span></button>
                    <em>To edit and save personal settings please register</em>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock content %} 